<div class="general-status-container">
  <div class="general-status-daily-forecast">
    {% for day in current_week %}

    <div class="card text-center">
      <div class="card-header">{{ day['day_of_week'] }}</div>
      <div class="card-body">
        <img
          src="{{ url_for('static', path='./assets/images/clear-night.svg') }}"
        />
      </div>
      <div class="card-footer text-muted">
        <span class="card-footer-text-1">{{ day['max_temperature'] }}°</span>
        <span class="card-footer-text-2"> {{ day['min_temperature'] }}°</span>
      </div>
    </div>

    {% endfor %}
  </div>

  <div class="general-status-today-insights">
    <div class="today-insights-subtitle">
      <span>Today's Insights</span>
    </div>
    <div class="today-insights-insights">
      <div class="row-insights">
        <div class="card">
          <div class="card-header">UV Index</div>
          <div class="card-body">
            <div class="gauge-container">
              <canvas id="gauge"></canvas>
              <input
                type="range"
                id="gaugeValue"
                min="0"
                max="100"
                value="{{ today.get('uv_index_max', 0) / 15 * 100 }}"
                step="1"
                oninput="updateGauge()"
                hidden
              />
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Wind Status</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Sunrise & Sunset</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="row-insights">
        <div class="card">
          <div class="card-header">Humity</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Visibility</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Air Quality</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
