<div class="form-container">
  <div class="form-input-container">
    <form
      action="{{ url_for('get_weather') }}"
      method="post"
      id="input-form"
      class="input-form"
    >
      <div class="form-outline d-flex input-location-container">
        <select name="location" id="location" class="form-select" required>
          <option value="" disabled selected>Search for locations...</option>
          {% for location in locations %}
          <option value="{{ location }}">{{ location }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="d-flex form-button-container">
        <button
          type="submit"
          id="get-forecast-button"
          class="btn btn-link btn-rounded"
          data-mdb-ripple-init
          data-mdb-ripple-color="dark"
        >
          <i class="fa-solid fa-magnifying-glass" style="color: #000000"></i>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="week-status-menu">
  <div class="week-status-menu-navbar">
    <div class="week-status-menu-navbar-item">
      <a href="#" class="week-status-menu-navbar-item-link">Last Week</a>
    </div>
    <div class="week-status-menu-navbar-item">
      <a href="#" class="week-status-menu-navbar-item-link">Current Week</a>
    </div>
    <div class="week-status-menu-navbar-item">
      <a href="#" class="week-status-menu-navbar-item-link">Next Week</a>
    </div>
  </div>
  <div class="week-status-menu-select-unity">
    <button type="button" class="btn btn-light btn-rounded">
      <span>°C</span>
    </button>
    <button type="button" class="btn btn-dark btn-rounded">
      <span>°F</span>
    </button>
  </div>
</div>
