<div class="today-status-container">
  <div class="today-status-image">
    <img
      src="{{ url_for('static', path='./assets/images/clear-day.svg')}}"
      alt=""
      class=""
    />
  </div>
  <div class="today-status-status">
    <div class="today-status-temperature">
      <span class="today-status-temperature-value">
        {{ today.get('temperature', 0) }}
      </span>

      <span class="today-status-temperature-unit">{{ unity }}</span>
    </div>
    <div class="today-status-date">
      <span class="today-status-date-day-of-week"
        >{{ now.strftime("%A") }},</span
      >
      <span class="today-status-date-time"> {{ now.strftime("%H:%M") }}</span>
    </div>
    <hr class="hr" />
    <div class="today-status-summary">
      <span class="today-status-summary-text"
        ><i class="fa-solid fa-cloud"></i> {{ 'Clear' if
        today.get("cloud_cover", 0.0) < 20 else ('Partly Cloud' if
        today.get("cloud_cover") < 40 else ('Mostly Cloudy' if
        today.get("cloud_cover") < 60 else ('Overcast' if
        today.get("cloud_cover") < 80 else 'Cloudy'))) }} ({{
        today.get("cloud_cover") }}%)</span
      >
      <span class="today-status-summary-rain-probability"
        ><i class="fa-solid fa-droplet"></i> {{
        today.get("precipitation_probability", 0) }}%</span
      >
    </div>
    <hr class="hr" />
    <div class="today-status-location">
      <span class="today-status-location-text">{{ location }}</span>
    </div>
  </div>
</div>
