/* Daily Weather Cards */

.general-status-daily-forecast > .card {
  height: 100%;
  width: max(12%, 100px);
}

.general-status-daily-forecast > .card > .card-header {
  height: 20%;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
}

.general-status-daily-forecast > .card > .card-body {
  height: 60%;
  width: 100%;
}

.general-status-daily-forecast > .card > .card-body > img {
  width: 80%;
  height: 100%;
}

.general-status-daily-forecast > .card > .card-footer {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.general-status-daily-forecast > .card > .card-footer > span {
  font-size: 1em;
}

.general-status-daily-forecast > .card > .card-footer > .card-footer-text-1 {
  font-weight: bold;
}

/* Insights Cards */

.today-insights-insights > .row-insights > .card {
  height: 100%;
  width: 30%;
  font-size: 1.1em;
}

.today-insights-insights > .row-insights > .card > .card-header {
  text-align: center;
}
