.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.flex-row > * {
  margin-top: 0.5rem;
  margin-right: 1rem;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 0.2rem;
}

.form-select,
.form-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

.subtitle {
  text-align: center;
  color: #0056b3;
}

.description {
  text-align: center;
  color: #333;
}
