main {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.today-status-container {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background-color: white;
}

.today-status-image {
  width: 100%;
  height: 35%;
}

.today-status-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.today-status-status {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.today-status-temperature {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.today-status-temperature-value {
  font-size: 5rem;
  padding-top: 1rem;
}

.today-status-temperature-unit {
  font-size: 2rem;
}

.today-status-date {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.today-status-date-day-of-week {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.today-status-date-time {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  color: #a3a3a3;
}

.today-status-summary {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  font-size: 1.2rem;
}

.today-status-location {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.today-status-location-text {
  font-size: 1.2rem;
}

.general-status-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem 2rem 2rem;
}

.general-status-daily-forecast {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.general-status-today-insights {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.today-insights-subtitle {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.today-insights-subtitle > span {
  font-size: 1.2rem;
  font-weight: bold;
}

.today-insights-insights {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row-insights {
  width: 100%;
  height: 47%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
