main {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.today-status-container {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background-color: white;
}

.today-status-image {
  width: 100%;
  height: 35%;
}

.today-status-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.today-status-status {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.today-status-temperature {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.today-status-temperature-value {
  font-size: 5rem;
  padding-top: 1rem;
}

.today-status-temperature-unit {
  font-size: 2rem;
}

.today-status-date {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.today-status-date-day-of-week {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.today-status-date-time {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  color: #a3a3a3;
}

.today-status-summary {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  font-size: 1.2rem;
}

.today-status-location {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.today-status-location-text {
  font-size: 1.2rem;
}

.general-status-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem 2rem 2rem;
}

.general-status-daily-forecast {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.general-status-today-insights {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.today-insights-subtitle {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.today-insights-subtitle > span {
  font-size: 1.2rem;
  font-weight: bold;
}

.today-insights-insights {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row-insights {
  width: 100%;
  height: 47%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.wind-status-container,
.visibility-container,
.relative-humidity-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.max-wind-speed,
.visibility,
.relative-humidity {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.max-wind-speed-text,
.visibility-text,
.relative-humidity-text {
  font-size: 3rem;
  align-self: last baseline;
}

.max-wind-speed-unit,
.visibility-unit,
.relative-humidity-unit {
  font-size: 1.3rem;
  font-weight: 400;
  align-self: last baseline;
  margin-left: 0.5rem;
}

.wind-direction {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wind-direction > img {
  width: 60px;
  height: 60px;
}

.sunset-sunrise-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sunrise-container,
.sunset-container {
  height: 50%;
  width: 100%;
}

.sunrise-text,
.sunset-text {
  margin-left: 1rem;
  font-size: 2rem;
}

.sunrise-unity,
.sunset-unity {
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 0.5rem;
}
