html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 10%;
}

main {
  height: 80%;
}

footer {
  height: 5%;
  width: 100%;
  text-align: center;
  justify-content: center;
}
