<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', path='./assets/favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='./css/style.css') }}" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <h1 class="title">Weather API</h1>
    </header>
    <main>
      <p class="description">Check the latest weather forecasts!</p>

      <form action="{{ url_for("get_weather") }}" method="post" class="weather-form">
        <div class="flex-row">
          <label for="location">Choose a location to get the forecast:</label>
          <select name="location" id="location" class="form-select">
            {% for location in locations %}
            <option value="{{ location }}">{{ location }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="flex-row">
          <label for="start_date">Start date:</label>
          <input
            type="date"
            id="start_date"
            name="start_date"
            value="{{ start_date }}"
            class="form-input"
          />

          <label for="final_date">Final date:</label>
          <input
            type="date"
            id="final_date"
            name="final_date"
            value="{{ final_date }}"
            class="form-input"
          />
        </div>
        <div class="flex-row">
          <button id="get-forecast-button" class="form-button">Get Forecast</button>
        </div>
      </form>

      {% block content %}{% endblock %}
    </main>
  </body>
</html>
